<%= form_with(model: potential_buyers_list, local: true) do |form| %>
  <% if potential_buyers_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(potential_buyers_list.errors.count, "error") %> prohibited this potential_buyers_list from being saved:</h2>

      <ul>
      <% potential_buyers_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
