<p>Added to Interest List!</p>
<%= puts @interest_list.inspect %>
<% @interest_list.houses.each do |house| %>
  <p><%= house.location %></p>
<% end %>
<%= link_to 'Back', houses_path %>
<%= link_to 'Back to Root', root_path %>
