<p id="notice"><%= notice %></p>

<p>
  <strong>House hunter:</strong>
  <%= @interest_list.house_hunter %>
</p>

<%= link_to 'Edit', edit_interest_list_path(@interest_list) %> |
<%= link_to 'Back', interest_lists_path %>
